<?xml version="1.0" ?>
<Library name="mm_showroom" shape="rectangle" default_fill="-128" default_outline="-1" tex="0">
    <Template>
        <Name>sign</Name>
        <File>mm_buidings\mm_showroom\proxy\sign.p3d</File>
        <Date>06/28/16 03:13:36</Date>
        <Archive></Archive>
        <Fill>-128</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>447429501</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>0.088776</BBRadius>
        <BBHScale>140.202911</BBHScale>
        <AutoCenter>0</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.914032</Height>
        <BoundingMin X="-26.318737" Y="6.667973" Z="-24.243155" />
        <BoundingMax X="-1.425532" Y="8.496037" Z="-24.065603" />
        <BoundingCenter X="-13.872134" Y="7.582005" Z="-24.154379" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>sign2</Name>
        <File>mm_buidings\mm_showroom\Proxy\sign2.p3d</File>
        <Date>02/27/18 21:54:37</Date>
        <Archive></Archive>
        <Fill>-128</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-878664715</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>-1.000000</BBRadius>
        <BBHScale>1.000000</BBHScale>
        <AutoCenter>0</AutoCenter>
        <XShift>0.000000</XShift>
        <YShift>0.000000</YShift>
        <ZShift>0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="999.000000" Y="999.000000" Z="999.000000" />
        <BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000" />
        <BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>wall</Name>
        <File>mm_buidings\mm_showroom\proxy\wall.p3d</File>
        <Date>06/28/16 03:13:38</Date>
        <Archive></Archive>
        <Fill>-128</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-790953046</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>15.010006</BBRadius>
        <BBHScale>1.566989</BBHScale>
        <AutoCenter>0</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>3.403778</Height>
        <BoundingMin X="-20.813839" Y="4.106458" Z="-10.302660" />
        <BoundingMax X="26.227198" Y="10.914014" Z="19.717352" />
        <BoundingCenter X="2.706679" Y="7.510236" Z="4.707346" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>ModernShowroom</Name>
        <File>mm_buidings\mm_showroom\modernshowroom.p3d</File>
        <Date>06/28/16 03:13:49</Date>
        <Archive></Archive>
        <Fill>-128</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>1706842935</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>22.434677</BBRadius>
        <BBHScale>1.396455</BBHScale>
        <AutoCenter>0</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>5.865754</Height>
        <BoundingMin X="-36.047710" Y="-0.642677" Z="-24.825407" />
        <BoundingMax X="26.610321" Y="11.088831" Z="20.043947" />
        <BoundingCenter X="-4.718695" Y="5.223077" Z="-2.390730" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>christmas_2</Name>
        <File>mm_buidings\mm_showroom\Proxy\christmas.p3d</File>
        <Date>02/27/18 21:54:37</Date>
        <Archive></Archive>
        <Fill>-128</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>667532930</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>-1.000000</BBRadius>
        <BBHScale>1.000000</BBHScale>
        <AutoCenter>0</AutoCenter>
        <XShift>0.000000</XShift>
        <YShift>0.000000</YShift>
        <ZShift>0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="999.000000" Y="999.000000" Z="999.000000" />
        <BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000" />
        <BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Roof_7</Name>
        <File>mm_buidings\mm_showroom\proxy\roof.p3d</File>
        <Date>06/28/16 03:13:35</Date>
        <Archive></Archive>
        <Fill>-128</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>507949524</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>14.978057</BBRadius>
        <BBHScale>1.569757</BBHScale>
        <AutoCenter>0</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.030684</Height>
        <BoundingMin X="-20.806347" Y="10.912704" Z="-10.295033" />
        <BoundingMax X="26.217468" Y="10.974073" Z="19.661081" />
        <BoundingCenter X="2.705561" Y="10.943389" Z="4.683024" />
        <Placement></Placement>
    </Template>
</Library>
